<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<!--Main Content--> 
<main>
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to the <%= title %> page</h1>
  </div>
</div>
</main>
<body>
<p style="text-center;color:grey;">this is a website built to keep track of your Running excercises<br>
please read the README file provided to see how to use this website</p>
</body>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
